<div class="card" style="padding: 50px; min-width: 800px; align-items: center;">

{{!-- How can I get the search params as a string in this header? --}}

<h2 style="text-align:center">Based on your search for {{query.search}}, here is what you could be drinking:</h2>   
<hr>
<hr style="border: solid; width: auto; min-width: 600px; align-items: left; margin: 0px">
    {{#each results as |result|}}
<hr>

<a href='/search?search={{result.strDrink}}' class="h3">{{result.strDrink}}</a>
<hr>
<img src="{{result.strDrinkThumb}}" alt="{{result.strDrink}}" style="border: solid; max-height: 125px; max-width: 125px; align-items-center">
<hr>
<hr style="border: solid; width: auto; min-width: 600px; align-items: left; margin: 0px">
    {{/each}}
</div>