<div class="card" style="padding: 50px; min-width: 800px; align-items: center; border-color:#3d5852; border-width: 10px;">
    
{{#each drinks as |result|}}
<h1>{{result.strDrink}}</h1>
<hr>
<img src="{{result.strDrinkThumb}}" alt="{{result.strDrink}}" style="border: solid; max-height: 200px; max-width: 200px; align-items-center; border-style: double;">
<hr>
<h4 style="text-decoration:underline;">Ingredients</h4>

{{#each result.ingredients as |ingredient|}}
<ul class="no-bullet">
<li>{{ingredient.qty}} - {{ingredient.name}}</li>
</ul>
{{/each}}

<h4 style="text-decoration:underline;">Instructions</h4>
<p style="text-align: center;">{{result.strInstructions}}</p>

<hr>

{{!-- <div class="responsive-embed">
  <iframe width="420" height="315" src="{{result.strVideo}}" frameborder="0" allowfullscreen></iframe>
</div> --}}


{{!-- I think this needs to be a form with a POST method on it to send review and drink name to the database on the specific users ID? --}}

<input type="text" placeholder="Enter a review to save this drink to your profile!">
<button class="button saveBtn" data-drinkID="{{result.idDrink}}" data-drinkName="{{strDrink}}">Save as Favorite</button>
<hr>
<hr style="border: solid; width: auto; min-width: 600px; align-items: left; margin: 0px">
<hr>
{{/each}}
</div>


<script src="/js/search.js"></script>
